.nav-link {
    color: black;
}

/*导航栏*/
.nav_daohan .nav-link,.nav-link:hover{
     color: white;
}

/*所有a标签*/
a {
    text-decoration: none;
    color: black;
}

/*修改的表单*/
.edit_flower_form{
    text-align: center;
}

/*搜索花数量的表单控件*/
.search_surplus_form .form-control{
    height: 40px;
}



/*=================================================================================================*/
/*flowre_data.html*/
/*出库入库按钮a标签名字*/
.button_group_in_out .inbount-btn,.outbount-btn,.outbount-btn:hover{
    color: white;
}

/*出库入库按钮背景色*/
.button_group_in_out .btn{
    background-color: #363333;
}


.add_flower_btn .btn{
    background-color: #363333;
    height: 30px;
}



.add_flower_btn .add_flowers_a,.add_flowers_a:hover{
    color: white;
}

/*表单控件*/
.search_surplus_form .form-control{
    height: 10px;
    width: 150px;
}

/*搜索花数量的搜索按钮*/
.search_surplus_form .btn{
    line-height: 1;
    font-size: 10px;
    width: 50px;
}

/*=============================================================================================*/

/*search.html*/
.search_flowers_button_group_in_out .btn{
    background-color: #363333;
}

.search_flowers_button_group_in_out  .inbount-btn,.outbount-btn,.outbount-btn:hover{
    color: white;
}

/*=======================================class_data.html=====================================================*/

.add_class .add_class_a:hover{
    color: white;
}

.add_class a{
    color: white;
}


.add_class_btn .btn{
    background-color: #363333;
}


/*=================================================admin_data.html============================================*/

.add_admin a,.add_admin_a:hover{
    color: white;
}


.add_admin_btn .btn{
    background-color: #363333;
}


.admin_bound_data .inbount-btn,.inbount-btn:hover{
    color: white;
}
.admin_bound_data .btn{
    background-color: #363333;

}

/*=======================================calss_data.html=======================================================*/


.class_flower_data_list .inbount-btn,.inbount-btn:hover{
    color: white;
}
.class_flower_data_list .btn{
    background-color: #363333;
}

/*.class_flower_data_list .delete_class_btn{*/
/*    width: 101px;*/
/*}*/


