{% extends 'flowers_base/base.html' %}

{% block content %}
<div class="class_table">
        <p>Flower Class data</p>
        <table border="1">
                 <thead>
                    <tr>
                        <th>编号</th>
                        <th>类别名</th>
                    </tr>
                </thead>
        {# 使用for读取从视图文件传入的class_data数据内的数据  #}
        {% for data in  class_data %}
                <tbody>
                    <tr>
                        <td><a href="{% url 'flowers_base:class_flower' class_id=data.class_id %} ">{{ data.class_id }}</a></td>
                        <td> {{ data.class_name }}</td>
                    </tr>
                </tbody>
        {% empty %}
            <li>没有管理员数据</li>
        {%  endfor %}
        </table>
        <div class="add_class">
            <a href="{% url 'flowers_base:add_flowerclass' %}">添加鲜花类别</a>
        </div>
    </div>
{% endblock %}