{% extends 'flowers_base/base.html' %}
{%  block content %}
    <div class="flower_table">
        <p>Flower_data</p>
        <table border="0">
                 <thead>
                    <tr>
                        <th>编号</th>
                        <th>名字</th>
                        <th>类别号</th>
                        <th>库存</th>
                        <th>单价</th>
                    </tr>
                </thead>
        {% for data in  flowers %}
                <tbody>
                    <tr>
                        <td>{{ data.flower_id }}</td>
                        {# 由于我这里遍历的变量是data，所以就是  data.flower_id#}
                        <td><a href="{% url 'flowers_base:edit_flower' data.flower_id %}">{{ data.flower_name }}</a></td>
                        <td><a href="{% url 'flowers_base:class_flower' class_id=data.classi.class_id %}">{{ data.classi.class_id }}</a></td>
                        <td>{{ data.num }}</td>
                        <td>{{ data.price }}</td>
                        <td><a href="{% url 'flowers_transcaction:inbound' flower_id=data.flower_id %}">入库</a></td>
                        <td><a href="{% url 'flowers_transcaction:outbound' flower_id=data.flower_id %}">出库</a></td>
                    </tr>
                </tbody>
        {% empty %}
            <li>没有鲜花数据</li>
        {%  endfor %}
        </table>
        <a href="{% url 'flowers_base:add_flower' %}">添加鲜花</a>

    </div>
{% endblock content %}