{% extends 'flowers_base/base.html' %}

{% block content %}
{# 我在APP中的templatetags中创建了三个过滤器，但是我没做完..... #}
{% load custom_tags %}
<div class="container">
    <div class="text-center mt-5 mb-5">
        <h3 class="text-center">搜索{{ key }}</h3>
    </div>
    {% if page_obj %}
        <div  class="container  table-responsive">
        <div class="text-center mt-3 mb-4">
            <h3 class="text-center">鲜花</h3>
        </div>
        <table border="1" class="table text-center table-hover">
            <thead>
            <tr>
                <th scope="col">编号</th>
                <th scope="col">名字</th>
                <th scope="col">类别号</th>
                <th scope="col">库存</th>
                <th scope="col">单价</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
        {% for data in page_obj %}
            {# instanceof查看属于哪个模型#}
            {% if data|isinstanceof_flower%}
                <tbody>
                    <tr>
                        <td scope="row">{{ data.flower_id }}</td>
                        {# 由于我这里遍历的变量是data，所以就是 data.flower_id#}
                        <td>
                            <a href="{% url 'flowers_base:edit_flower' data.flower_id %}">{{ data.flower_name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'flowers_base:class_flower' class_id=data.classi.class_id %}">{{ data.classi.class_id}}</a>
                        </td>
                        <td>{{ data.num }}</td>
                        <td>{{ data.price }}</td>
                        <td class="search_flowers_button_group_in_out">
                            <div aria-label="Basic example" class="btn-group" role="group">
                                <button class="btn btn-light btn-sm" type="button">
                                    <a class="inbount-btn" href="{% url 'flowers_transcaction:inbound' flower_id=data.flower_id %}">入库</a>
                                </button>
                                <button class="btn btn-light btn-sm" type="button">
                                    <a class="outbount-btn"
                                       href="{% url 'flowers_transcaction:outbound' flower_id=data.flower_id %}">出库</a>
                                </button>
                                <button class="btn btn-light btn-sm" type="button">
                                    <a class="outbount-btn" href="{% url 'flowers_base:delete_flower' data.flower_id %}">删除</a>
                                </button>
                                <button class="btn btn-light btn-sm" type="button">
                                    <a class="outbount-btn" href="{% url 'flowers_base:edit_flower' data.flower_id %}">修改</a>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
        </table>
        </div>
    {% else %}
    <div class="search">
        <p>未搜索到</p>
    </div>
    {% endif %}
    {% if page_obj %}
       <div class="container table-responsive">
           <div class="text-center mt-3 mb-4">
                <h3 class="text-center">鲜花类别</h3>
            </div>
            <table border="1" class="table text-center table-hover">
                <thead>
                <tr>
                    <th scope="col">编号</th>
                    <th scope="col">类别名</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
         {% for data in page_obj %}
            {% if data|isinstanceof_class %}
                    {# 使用for读取从视图文件传入的class_data数据内的数据#}
                    <tbody>
                    <tr>
                        <td scope="row">
                            <a href="{% url 'flowers_base:class_flower' class_id=data.class_id %} ">{{ data.class_id }}</a>
                        </td>
                        <td>
                            <a href="{% url 'flowers_base:edit_class' data.class_id %}">{{ data.class_name }}</a>
                        </td>
                        <td class="class_flower_data_list">
                            <div aria-label="Basic example" class="btn-group" role="group">
                                <button class="btn btn-light btn-sm" type="button">
                                    <a class="inbount-btn" href="{% url 'flowers_base:class_flower' class_id=data.class_id %}">查看</a>
                                </button>
                                <button class="btn btn-light btn-sm delete_class_btn" type="button">
                                    <a class="inbount-btn" href="{% url 'flowers_base:delete_class' data.class_id %}">删除</a>
                                </button>
                                <button class="btn btn-light btn-sm" type="button">
                                    <a class="outbount-btn" href="{% url 'flowers_base:edit_class' data.class_id %}">修改</a>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
             {% endif %}
         {% endfor %}
        </table>
        </div>
    {% else %}
            <div class="search">
                <p>未搜索到</p>
            </div>
    {% endif %}
    {% if page_obj %}
        <div class="container  table-responsive">
            <div class="text-center mt-3 mb-4">
                <h3 class="text-center">管理员</h3>
            </div>
            <table border="1" class="table text-center table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>名字</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
                </thead>
        {% for data in page_obj %}
            {% if data|isinstanceof_admin%}
                        <tbody>
                        <tr>
                            <td>
                                <a>{{ data.admin_id }}</a></td>
                            <td>
                                <a href="{% url 'flowers_base:edit_admin' data.admin_id%}">{{ data.admin_name }}</a>
                            </td>
                            <td>{{ data.telephone }}</td>
                            <td class="admin_bound_data">
                                <div aria-label="Basic example" class="btn-group" role="group">
                                    <button class="btn btn-light btn-sm" type="button">
                                        <a class="inbount-btn"
                                           href="{% url 'flowers_transcaction:admin_bond_list' data.admin_id %}">记录</a>
                                    </button>
                                    <button class="btn btn-light btn-sm delete_class_btn" type="button">
                                        <a class="inbount-btn"
                                           href="{% url 'flowers_base:delete_admin' data.admin_id %}">删除</a>
                                    </button>
                                    <button class="btn btn-light btn-sm" type="button">
                                        <a class="outbount-btn"
                                           href="{% url 'flowers_base:edit_admin' data.admin_id %}">修改</a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
            {% endif %}
        {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="search">
                <p>未搜索到</p>
            </div>
    {% endif %}

</div>
{% endblock %}